@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th,
td {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    border: 0;
}

input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
}

a:hover {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fix:after {
    content: "";
    clear: both;
    display: block
}

.db {
    display: block;
}

.din {
    display: inline-block;
}

.dn {
    display: none;
}

/*@charset 'utf-8';*/
/*对齐*/
.tl {
    text-align: left
}

.tr {
    text-align: right
}

.tc {
    text-align: center
}
.pr{
    position: relative;
}

/*禁止换行并以省略号替代超出字符*/
.text-overflow {
    display: block; /*内联对象需加*/
    width: 100%;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
body{
    font-family:"PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif
}

.triangle-left-top{

}


/**兼容**/
header,nav,section,article ,aside,footer{
    display:block;
}

*{
    -weblot-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
.dn{
    display: none!important;
}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    filter: gray;
}
